*{
    margin:0;
    padding:0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}
#cont{
    width:100%;
    height:100rem;
    background:linear-gradient(130deg, rgb(6, 6, 69), rgba(148, 61, 247, 0.885));
    padding:10px;
}
.to-do-cont{
   
    width:40vw;
    /* height:80vh; */
    background: url('images/background.jpg');
    margin: 50px auto 30px;
    padding: 35px 35px 45px;
    border-radius: 30px;

}
.to-do-cont h1{
    display:flex;
    align-items: center;
    justify-items: center;
    margin-bottom: 24px;

}
.to-do-cont h1 img{
    min-width: 20px;;
    width:40px;
    margin-left:20px;
}
.input{
    display:flex;
 background: #ffe0e0ad;
 padding-left: 30px;
 align-items: center;
 justify-content: space-between;

 border-radius: 30px;
margin-bottom: 20px;
position: relative;

  

}
.input input{
    flex-grow:1;
    background-color: transparent;
    outline: none;
    border:none;
    padding:15px;
    font-size: 16px;
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   
  

}
.input button{
     width:20%;
    background-color: rgb(219, 76, 76);
    border-radius:30px;
    border:none;
    outline: none;
    padding:15px 25px;
    cursor:pointer;
    font-size:90%;

   
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    position: absolute;
    left:85%;
}
.task li{
    list-style: none;
    padding: 20px 25px 25px 45px;
    font-size: 15px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bolder;
    font-style: italic;
    position:relative;
    cursor:pointer;
}

.task li::before{
    content: '';
background: url('images/unchecked.png') center center/cover;
border-radius: 0%;
/* background-size:cover; */
width:20px;
height:20px;
position:absolute;
left:8px;
top:20px;

}
ul li.checked{
    color:#7f2b2bd2;

    text-decoration:line-through;
}


  ul li.checked::before{
    background-image: url(images/checked.png);

}
 span{
position :absolute;
left:89%;
top:20%;
border: 2px solid beige;
border-style: inset;
padding:2px 10px 4px;
border-radius:3px;
color:rgb(108, 56, 56);
    
}
span:hover{
    background-color: rgb(237, 217, 243);;
    cursor:pointer;
    border-color: rgb(187, 154, 154);
}
time{
    display:flex;
    flex-direction: column;
    line-height:30px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: oblique;
    font-weight: 500;
}
#removeall{
    display: flex;
   align-items: center;
   justify-content: center;
  
}
#removeall button{
    background:none;
    border: none;
}
#removeall img{
    height: 40px;
    background: none;
}
#removeall button img:hover{
    cursor: pointer;
}