*{
    margin: 0;
    padding:0;
    text-align: center;
 
}

h1{
   
  font-size: 3rem;
  font-family:cursive;
  background-color: rgb(243, 211, 131);
  color: rgb(139, 59, 29);
 border-radius: 2rem 2rem 0 0;
}


.container{
  display: flex;
 justify-content: center;
 margin-top:4rem;
 gap:2rem;
 flex-wrap: wrap;
 
 
}
.contains{
  width:16rem;
  height:16rem;
  display:flex;
  justify-content: center;
  align-items: center;
  
}

img{
  width:15rem;
  height:15rem;
}
 #scissor img {
  width: 14rem;
  height: 14rem;
}
.contains:hover{
  cursor: pointer;
  background-color: rgb(0, 0, 0);
  border-radius :50%;
  
}
.title{
  display:flex;
  justify-content: center;
  align-items: center;
  gap: 15rem;
  margin: 1.5rem;
  font-size: 20px;
  font-weight: bold;
  color:rgba(24, 3, 73, 0.951)
}

.scoreboard{
  
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 3rem 0 2rem 0;
  font-size: 2rem;
  font-weight: bolder;
  flex-wrap: wrap;
}
.score{
    margin:1.5rem 2rem 2.5rem 2rem;
}
#user-score,#computer-score{
  font-size: 3rem;
  margin-bottom: 1rem;
}
.result{
margin-top: 1rem;

  
}
#show{
  border: 3px solid rgb(217, 232, 189);
  display:inline;

  padding: 1.5rem;
  border-radius: 50%;
  background-color: rgb(26, 26, 63);
  color: aliceblue;
}